# git
.git
.gitignore
.github
.gitattributes

# Secret files
.env
token_v1.json
token_v2.json

# vscode
.vscode

# Other folders
media/
video_tmp/
appdata/

# Config
config.json
config.json.bak

# Database
database.db

# Docker
docker-compose.yaml
Dockerfile

# Python
env
*.pyc